.header {
    height: var(--header-height);
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    position: relative;
    display: flex;
    /* Changed to flex to center content */
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--accent-color);
    padding: 0.75rem;
    /* 12px */
    border-radius: var(--radius-md);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* @media (min-width: 768px) {
    .logo {
        width: 180px;
        height: 60px;
    }
} */

.nav {
    display: flex;
    gap: 2rem;
}

.navLink {
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.2s ease;
}

.navLink:hover {
    color: var(--primary-color);
}